<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ERBA_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <ERBA_Manager.Properties.Settings>
      <setting name="GebNaam" serializeAs="String">
        <value />
      </setting>
      <setting name="GebWW" serializeAs="String">
        <value />
      </setting>
      <setting name="OnthoudGegs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VersieDatum" serializeAs="String">
        <value>20 sept 2019</value>
      </setting>
      <setting name="VersieNummer" serializeAs="String">
        <value>1.0.0.0</value>
      </setting>
    </ERBA_Manager.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="ERBAEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=185.41.126.25,9144;Initial Catalog=SystifyITERBA;Persist Security Info=True;User ID=SystifyITErba_User;Password=thGfKz68!dsFbNkL324; MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>